.column-one {
    margin-top : 10px;
    width: calc((100% - 20px * 12) / 12);
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    clear:both;
  }

  .column-two {
    margin-top : 10px;
    width: calc((100% - 20px * 6) / 6);
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    clear:both;
  }

  .column-three {
    margin-top : 10px;
    width: calc((100% - 20px * 4) / 4);
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    clear:both;
  }

  .column-four {
    margin-top : 10px;
    width: calc((100% - 20px * 3) / 3);
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    clear:both;
  }

  .column-five {
    margin-top : 10px;
    width: calc((100% - 20px * 2.4) / 2.4);
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    clear:both;
  }

  .column-six {
    margin-top : 10px;
    width: calc((100% - 20px * 2) / 2);
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    clear:both;
  }

  .column-seven {
    margin-top : 10px;
    width: calc((100% - 20px * 1.71428571429) / 1.71428571429);
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
  }

  
  .column-eight {
    margin-top : 10px;
    width: calc((100% - 20px * 1.5) / 1.5);
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    clear:both;
  }

  .column-nine {
    margin-top : 10px;
    width: calc((100% - 20px * 1.33333333333) / 1.33333333333);
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    clear:both;
  }

  
  .column-ten {
    margin-top : 10px;
    width: calc((100% - 20px * 1.2) / 1.2);
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    clear:both;
  }

  .column-eleven {
    margin-top : 10px;
    width: calc((100% - 20px * 1.09090909091) / 1.09090909091);
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    clear:both;
  }




  