/*COLORS */

$color-black : #000; /* Black */
$color-red : #e50914; /* Red */
$color-black-light : #555555; /* Light Black */
$color-green : #4CAF50;/* Green */
$color-blue : #008CBA; /* Blue */
$color-gray : #e7e7e7; /* Gray */
$color-white : #fff; /* White */
$color-gray-dark-1 : #3d3d3d; /* Dark Gray version 1 */
$color-gray-dark-2 : #202020; /* Dark Gray Version 2 */